<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">Agregar Producto</h4>
		</div>
		<div class="modal-body">
			{% include '@SunsetlabsProduct/Group/add_item_body.html.twig' with { 'form' : form } %}
		</div>
		<div class="modal-footer">
			<button id="submit_add_product" type="button" class="btn btn-primary">Guardar</button>
		</div>
	</div>
</div>