<div class="form-group">
    {{ form_label(form.images, form.images.vars.label, { 'label_attr' : { 'class' : 'col-lg-2 control-label' } }) }}
    <div class="col-lg-10">
        <div class="btn-group add_image">
            <a href="#" class="add_image btn btn-xs">Agregar Imagen</a>
            <input type="file" id="add-image" class="add_image">
        </div>
        <div class="images" data-prototype="{% filter escape %}{% include '@SunsetlabsProduct/Group/image_proto.twig' with { 'img_form': form.images.vars.prototype } %}{% endfilter %}">
            {% for img in form.images %}
                {% include '@SunsetlabsProduct/Group/image_proto.twig' with { 'img_form' : img } %}
            {% endfor %}
        </div>
    </div>
</div>