{% set vars = {
	'product' : product,
	'name'    : name
} %}
<ul class="category_list">
	{% for item in categories %}
		{% set vars = vars|merge({'cat': item}) %}
		<li>
			{% include '@SunsetlabsProduct/Category/widget_item.html.twig' with vars %}
		</li>
	{% endfor %}
</ul>